<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>
    <!--Front Controller-->
    <welcome-file-list>
        <welcome-file>view/index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>FrontControllerServlet</servlet-name>
        <servlet-class>com.serviceSystem.web.FrontControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControllerServlet</servlet-name>
        <url-pattern>/view/frontController</url-pattern>
    </servlet-mapping>
    <!--Servlet for creating order-->
    <servlet>
        <servlet-name>MakeOrderServlet</servlet-name>
        <servlet-class>com.serviceSystem.web.servlet.MakeOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeOrderServlet</servlet-name>
        <url-pattern>/view/makeOrder</url-pattern>
    </servlet-mapping>
    <!--Servlet for updating order-->
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>com.serviceSystem.web.servlet.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/view/updateOrder</url-pattern>
    </servlet-mapping>
    <!--Security filter-->
    <filter>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.serviceSystem.web.filter.SecurityFilter</filter-class>
        <init-param>
            <param-name>clientAccess</param-name>
            <param-value>makeOrder,index.jsp,show_active_orders,show_dishes_of_order,cancel_order</param-value>
        </init-param>
        <init-param>
            <param-name>workerAccess</param-name>
            <param-value>updateOrder,show_orders,delete_order,show_dishes_of_order,index.jsp,show_tables,change_table_status</param-value>
        </init-param>
<!--        <init-param>-->
<!--            <param-name>unsecuredAccess</param-name>-->
<!--            <param-value>authorization,logout,error,authorization.jsp,badRequest.jsp,style.css,sign_in,-->
<!--                signUp.jsp-->
<!--            </param-value>-->
<!--        </init-param>-->
    </filter>
    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--for errors-->
    <error-page>
        <error-code>404</error-code>
        <location>/view/Error404.jsp</location>
    </error-page>
</web-app>
