<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>
    <!--Front Controller-->
    <servlet>
        <servlet-name>FrontControllerServlet</servlet-name>
        <servlet-class>com.serviceSystem.web.FrontControllerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrontControllerServlet</servlet-name>
        <url-pattern>/frontController</url-pattern>
    </servlet-mapping>
    <!--Servlet for creating order-->
    <servlet>
        <servlet-name>MakeOrderServlet</servlet-name>
        <servlet-class>com.serviceSystem.web.servlet.MakeOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MakeOrderServlet</servlet-name>
        <url-pattern>/makeOrder</url-pattern>
    </servlet-mapping>
    <!--Servlet for updating order-->
    <servlet>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <servlet-class>com.serviceSystem.web.servlet.UpdateOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateOrderServlet</servlet-name>
        <url-pattern>/updateOrder</url-pattern>
    </servlet-mapping>
    <!--for errors-->
    <error-page>
        <error-code>404</error-code>
        <location>/view/Error404.jsp</location>
    </error-page>
</web-app>
