<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
<!--Servlet for creating order-->
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.serviceSystem.servlet.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/sendOrder</url-pattern>
  </servlet-mapping>
<!--Servlet for showing all orders and finding order by table-->
  <servlet>
    <servlet-name>ShowOrdersServlet</servlet-name>
    <servlet-class>com.serviceSystem.servlet.ShowOrdersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowOrdersServlet</servlet-name>
    <url-pattern>/showOrders</url-pattern>
  </servlet-mapping>
<!--Servlet for deleting order-->
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.serviceSystem.servlet.DeleteOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/deleteOrder</url-pattern>
  </servlet-mapping>
<!--Servlet for showing dishes of order-->
  <servlet>
    <servlet-name>ShowDishesOfOrderServlet</servlet-name>
    <servlet-class>com.serviceSystem.servlet.ShowDishesOfOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowDishesOfOrderServlet</servlet-name>
    <url-pattern>/showDishesOfOrder</url-pattern>
  </servlet-mapping>
<!--Servlet for updating order-->
  <servlet>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <servlet-class>com.serviceSystem.servlet.UpdateOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateOrderServlet</servlet-name>
    <url-pattern>/updateOrder</url-pattern>
  </servlet-mapping>
</web-app>
